{
    "swagger": "2.0",
    "info": {
        "title": "MyShows API",
        "description": "CurrentAPI based on <a href=\"http:\/\/www.jsonrpc.org\/specification\" target=\"_blank\">JSON-RPC 2.0<\/a> with <a href=\"http:\/\/oauth.net\/2\/\" target=\"_blank\">OAuth 2.0<\/a> as authorization.<br \/>OAuth enpoints are <a href=\"https:\/\/myshows.me\/oauth\/authorize\" target=\"_blank\">https:\/\/myshows.me\/oauth\/authorize<\/a> and <a href=\"https:\/\/myshows.me\/oauth\/token\" target=\"_blank\">https:\/\/myshows.me\/oauth\/token<\/a>.<br \/>We use <b>Bearer<\/b> access token implementation and we only one scope <b>basic<\/b>.<br \/><br \/>To request OAuth AppId please contact us <a href=\"mailto:api@myshows.me\">api@myshows.me<\/a>.<br \/><h4>Example<\/h4><br \/><div class=\"content\"><div class=\"block curl\"><pre style=\"word-wrap: break-word; white-space: pre-wrap;\">curl -X POST --header \"Content-Type: application\/json\" --header \"Accept: application\/json\" --header \"Authorization: Bearer 859ea2450228a5d655e3a8c2f9a5aedc30b591df\" --header \"Accept-Language: en\" -d \"{\n  \\\"jsonrpc\\\": \\\"2.0\\\",\n  \\\"method\\\": \\\"shows.GetById\\\",\n  \\\"params\\\": {\n    \\\"showId\\\": 1,\n    \\\"withEpisodes\\\": true\n  },\n  \\\"id\\\": 1\n}\" \"https:\/\/api.myshows.me\/v2\/rpc\/\"<\/pre><\/div><\/div><br \/>We also support <a href=\"https:\/\/tools.ietf.org\/html\/rfc6749#section-4.3\" target=\"_blank\">Resource Owner Password Credentials Grant<\/a> for devices without browser.<br \/><br \/><h4>Example<\/h4><br \/><div class=\"content\"><div class=\"block curl\"><pre style=\"word-wrap: break-word; white-space: pre-wrap;\">curl \"https:\/\/myshows.me\/oauth\/token\" -d \"grant_type=password&client_id=&client_secret=&username=&password=\"<\/pre><\/div><\/div>",
        "version": "2.0.2"
    },
    "host": "api.myshows.me",
    "basePath": "\/v2\/rpc\/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application\/json"
    ],
    "produces": [
        "application\/json"
    ],
    "paths": {
        "\/profile\/Get": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Profile&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Get_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Get_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "403": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Feed": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User public Feed by login&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Feed_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Feed_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "403": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Friends": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Friends for user by login&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Friends_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Friends_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "403": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Followers": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Followers for user by login&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Followers_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Followers_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "403": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Friendship": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Profile&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Friendship_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Friendship_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "403": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/FriendsFeed": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Friends Feed&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.FriendsFeed_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.FriendsFeed_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Shows": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Shows&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Shows_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Shows_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "403": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/ShowStatuses": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Show Statuses&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.ShowStatuses_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.ShowStatuses_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Episodes": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Episodes&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Episodes_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Episodes_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "show was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Show": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Show&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Show_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Show_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "show was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Episode": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get User Episode&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Episode_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Episode_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Achievements": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Achievements&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Achievements_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Achievements_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "403": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Achievement": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Achievement&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Achievement_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Achievement_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "achievement was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/NewComments": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Episodes With New Comments&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewComments_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewComments_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/NewNewsComments": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get News With New Comments&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewNewsComments_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewNewsComments_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/NewCommentReplies": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Episodes With New Comments Replies&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewCommentReplies_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewCommentReplies_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/NewNewsCommentReplies": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get News With New Comments Replies&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewNewsCommentReplies_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewNewsCommentReplies_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Counters": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Counters&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Counters_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Counters_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/Settings": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get Settings&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.Settings_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.Settings_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/SaveSettings": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Save Settings&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.SaveSettings_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.SaveSettings_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/EpisodeCommentsCount": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get episodes comments count&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.EpisodeCommentsCount_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.EpisodeCommentsCount_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "402": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/EpisodeComments": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get episodes comments&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.EpisodeComments_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.EpisodeComments_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "402": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/NewsCommentsCount": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get news comments count&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewsCommentsCount_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewsCommentsCount_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "402": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/NewsComments": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Get news comments&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewsComments_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.NewsComments_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    },
                    "402": {
                        "description": "user profile is hidden"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/profile\/MarkCommentsAsViewed": {
            "post": {
                "tags": [
                    "profile"
                ],
                "summary": "Mark Comments As Viewed (episodes and news)&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/profile.MarkCommentsAsViewed_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/profile.MarkCommentsAsViewed_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/Get": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Shows",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Get_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Get_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/shows\/Count": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Count Shows",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Count_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Count_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/shows\/Filters": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Shows Filters",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Filters_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Filters_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/shows\/GetById": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Show by Id",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.GetById_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.GetById_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "404": {
                        "description": "show was not found"
                    }
                }
            }
        },
        "\/shows\/GetByExternalId": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Show by External Id",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.GetByExternalId_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.GetByExternalId_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "404": {
                        "description": "show was not found"
                    }
                }
            }
        },
        "\/shows\/Search": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Search Shows by Query",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Search_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Search_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/shows\/SearchByFile": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Search Shows by File",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.SearchByFile_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.SearchByFile_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "400": {
                        "description": "file less than 5 chars"
                    },
                    "404": {
                        "description": "no results"
                    }
                }
            }
        },
        "\/shows\/Ids": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Ids",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Ids_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Ids_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/shows\/Episode": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Episode by Id",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Episode_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Episode_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                }
            }
        },
        "\/shows\/Genres": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Genres",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Genres_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Genres_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/shows\/Top": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Top Shows",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.Top_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.Top_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "400": {
                        "description": "invalid params"
                    }
                }
            }
        },
        "\/shows\/EpisodeComments": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Get Episode Comments for Current User or Guest&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.EpisodeComments_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.EpisodeComments_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/ViewEpisodeComments": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Mark comments as viewed for current user&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.ViewEpisodeComments_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.ViewEpisodeComments_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/TrackEpisodeComments": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Track new comments for this episode or not for current user&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.TrackEpisodeComments_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.TrackEpisodeComments_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/VoteEpisodeComment": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Vote for episode comment&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.VoteEpisodeComment_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.VoteEpisodeComment_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "comment was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/PostEpisodeComment": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Post Comment&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.PostEpisodeComment_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.PostEpisodeComment_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "episode was not found"
                    },
                    "400": {
                        "description": "invalid params"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/UpdateEpisodeComment": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Update Comment&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.UpdateEpisodeComment_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.UpdateEpisodeComment_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "comment was not found"
                    },
                    "403": {
                        "description": "comment is not editable"
                    },
                    "400": {
                        "description": "invalid params"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/DeleteEpisodeComment": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Delete Comment&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.DeleteEpisodeComment_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.DeleteEpisodeComment_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "comment was not found"
                    },
                    "403": {
                        "description": "comment is not editable"
                    },
                    "400": {
                        "description": "invalid params"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/shows\/TranslateEpisodeComment": {
            "post": {
                "tags": [
                    "shows"
                ],
                "summary": "Translate episode comment&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/shows.TranslateEpisodeComment_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/shows.TranslateEpisodeComment_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "comment was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/lists\/Episodes": {
            "post": {
                "tags": [
                    "lists"
                ],
                "summary": "Get User Episodes List&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/lists.Episodes_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/lists.Episodes_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "unknown list"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/lists\/AddEpisode": {
            "post": {
                "tags": [
                    "lists"
                ],
                "summary": "Add Episode To List&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/lists.AddEpisode_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/lists.AddEpisode_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "unknown list"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/lists\/RemoveEpisode": {
            "post": {
                "tags": [
                    "lists"
                ],
                "summary": "Remove Episode From List&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/lists.RemoveEpisode_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/lists.RemoveEpisode_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "unknown list"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/lists\/Shows": {
            "post": {
                "tags": [
                    "lists"
                ],
                "summary": "Get User Shows List&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/lists.Shows_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/lists.Shows_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "unknown list"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/lists\/AddShow": {
            "post": {
                "tags": [
                    "lists"
                ],
                "summary": "Add Show To List&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/lists.AddShow_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/lists.AddShow_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "unknown list"
                    },
                    "404": {
                        "description": "show was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/lists\/RemoveShow": {
            "post": {
                "tags": [
                    "lists"
                ],
                "summary": "Remove Show From List&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/lists.RemoveShow_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/lists.RemoveShow_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "unknown list"
                    },
                    "404": {
                        "description": "show was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/SetShowStatus": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Set Show Watching Status&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.SetShowStatus_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.SetShowStatus_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "invalid params"
                    },
                    "404": {
                        "description": "show was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/RateShow": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Rate Show&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.RateShow_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.RateShow_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "invalid params"
                    },
                    "404": {
                        "description": "show was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/CheckEpisode": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Check Episode&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.CheckEpisode_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.CheckEpisode_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "invalid params"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/UnCheckEpisode": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "UnCheck Episode&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.UnCheckEpisode_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.UnCheckEpisode_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/RateEpisode": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Rate Episode&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.RateEpisode_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.RateEpisode_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "invalid params"
                    },
                    "404": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/RateEpisodesBulk": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Rate Episodes Bulk&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.RateEpisodesBulk_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.RateEpisodesBulk_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/SyncEpisodes": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Sync Episodes&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.SyncEpisodes_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.SyncEpisodes_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "show was not found"
                    },
                    "400": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/SyncEpisodesDelta": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Sync Episodes Delta&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.SyncEpisodesDelta_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.SyncEpisodesDelta_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "show was not found"
                    },
                    "400": {
                        "description": "episode was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/manage\/MoveEpisodeDate": {
            "post": {
                "tags": [
                    "manage"
                ],
                "summary": "Move Episode Date&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/manage.MoveEpisodeDate_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/manage.MoveEpisodeDate_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "episode was not found"
                    },
                    "400": {
                        "description": "invalid shift days"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/users\/Search": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Search Users",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/users.Search_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/users.Search_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/users\/Count": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Count Users",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/users.Count_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/users.Count_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/users\/Filters": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Users Filters",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/users.Filters_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/users.Filters_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    }
                }
            }
        },
        "\/users\/Follow": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Follow User&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/users.Follow_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/users.Follow_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/users\/UnFollow": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "UnFollow User&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/users.UnFollow_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-rpc 2.0 response",
                        "schema": {
                            "$ref": "#\/definitions\/users.UnFollow_Response"
                        }
                    },
                    "default": {
                        "description": "json-rpc 2.0 error",
                        "schema": {
                            "$ref": "#\/definitions\/JsonRpcError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "user was not found"
                    }
                },
                "security": [
                    {
                        "auth": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "\/notes\/Get": {
            "post": {
                "tags": [
                    "notes"
                ],
                "summary": "Get Notes&#128274;",
                "description": "",
                "parameters": [
                    {
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/notes.Get_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
[...]
